<div class="accordion" id="inputs">
  <% inputs.forEach(function(input){ %>
    <div class="card">
      <div class="card-header" id="heading-<%= input.id %>">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-<%= input.id %>" aria-expanded="true" aria-controls="collapse-<%= input.id %>">
              <%= input.title %>
          </button>
        </h2>
      </div>
    
      <div id="collapse-<%= input.id %>" class="collapse<%= (input.show ? ' show' : '') %>" aria-labelledby="heading-<%= input.id %>" data-parent="#inputs">
        <form class="card-body row" id="form-<%= input.id %>">
            <% var halfSize = Math.ceil(input.fields.length / 2); %>
            <% var fields1 = input.fields.slice(0, halfSize); %>
            <% var fields2 = input.fields.slice(halfSize, input.fields.length); %>
            <% var cols = [fields1, fields2] %>

            <% cols.forEach(function(fields){ %>
              <div class="col-md">
                  <% fields.forEach(function(field){ %>
                    <div class="form-group">
                      <label for="value-<%= input.id %>-<%= field.id %>"><%= field.title %></label>
                      <div class="input-group">
                          <% if (field.type == 'select') { %>
                            <select class="custom-select" id="value-<%= input.id %>-<%= field.id %>">
                              <% field.options.forEach(function(option){ %>
                                <option value="<%= option.value %>"<%= (option.value == field.default ? ' selected' : '') %>><%= option.title %></option>
                              <% }); %>
                            </select>
                          <% } else { %>
                            <% var params = field.inputParams == null ? {} : field.inputParams; %>
                            <input type="<% field.type %>" class="form-control" id="value-<%= input.id %>-<%= field.id %>" value="<%= field.default %>"<% Object.keys(params).forEach(function(param){ %><%= param %>="<%= params[param] %>"<% }); %>>
                          <% } %>
                          
                          <% if (field.unit != null) { %>
                            <div class="input-group-append">
                              <% if (field.unit.type == 'simple') { %>
                                <span class="input-group-text"><%= field.unit.text %></span>
                              <% } else if (field.unit.type == 'select') { %>
                                <select class="custom-select" id="unit-<%= input.id %>-<%= field.id %>">
                                  <% field.unit.options.forEach(function(option){ %>
                                    <option value="<%= option.value %>"<%= (option.value == field.unit.default ? ' selected' : '') %>><%= option.title %></option>
                                  <% }); %>
                                </select>
                              <% } %>
                            </div>
                          <% } %>
                        </div>

                        <% if (field.help != null) { %>
                          <small id="help-<%= input.id %>-<%= field.id %>" class="form-text text-muted"><%= field.help %></small>
                        <% } %>
                    </div>
                  <% }); %>
                </div>
            <% }); %>
        </form>
    </div>

    </div>
  <% }); %>
</div>